.wrapper {
  width: 100%;
  padding: 0 30px;
}

.home {
  margin: 0 -12px;
  row-gap: 24px;
}
.home .col-lg-3 {
  padding: 0 12px;
}

.taglist .tag {
  padding: 4px 14px;
  background: gray;
  color: white;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}
.taglist .tag.active {
  background: rebeccapurple;
}

.card {
  border: 0;
  cursor: pointer;
}
.card .card-body img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.author p {
  font-size: 14px;
}
.videodetails {
  width: 1200px;
  margin: 0 auto;
}

.video-player {
  height: 400px;
}
.videodetails .row {
  margin: 0 -30px;
}
.videodetails .row .col-8,
.videodetails .row .col-8 {
  padding: 0 30px;
}
.video-img {
  height: fit-content;
}
.duration {
  position: absolute;
  bottom: 6px;
  right: 14px;
  color: red;
}
.video-content p {
  font-size: 14px;
}
