.wrapper {
  width: 100%;
  padding: 0 30px;
}

.home {
  margin: 0 -12px;
  row-gap: 24px;
}
.home .col-lg-3 {
  padding: 0 12px;
}

.taglist .tag {
  padding: 4px 14px;
  background: rebeccapurple;
  color: white;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  border: 0;
  cursor: pointer;
}
.card .card-body img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.author p {
  font-size: 14px;
}
